:root {
  --wid: 1000px;
  --height: 500px;
}

#header {
  color: black;
  font-family: 'Courier New', monospace;
  text-align: center;
  overflow: hidden;
}

#buttonPos {
  margin-top: 5px;
}

#match {
  width: var(--wid);
  height: var(--height);
  background-color:#000000;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  font-family: 'Courier New', monospace;
  overflow: hidden;
}

#leftScore {
  color: white;
  position: relative;
  float: left;
  left: 40%;
  top: -95%;
  font-size: 4em;
}

#rightScore {
  color: white;
  position: relative;
  float: right;
  right: 40%;
  top: -95%;
  font-size: 4em;
}

#countDown {
  position: relative;
  top: -65%;
  color: white;
  font-size: 6em;
  font-weight: bolder;
}

#leftResult {
  color: white;
  position: relative;
  float: left;
  top: -80%;
  left: 15%;
  font-size: 50px;
}

#rightResult {
  color: white;
  position: relative;
  float: right;
  top: -80%;
  right: 15%;
  font-size: 50px;
}

#ball {
  border-radius: 100px;
}

#centerCol {
  text-align-last: center;
}

#boardDiv {
  height: var(--height);
  position: relative;
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 15px,
    black 15px,
    black 30px
  ) 50%/1px 100% no-repeat;
}
