#page {

}

#header {

}

#game {
    width:800px;
    height:500px;
    background-color:#000000;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ball {
    border-radius: 100px;
}
